<ion-header>
  <ion-navbar>
    <ion-title>
      New Game
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Players
    </ion-list-header>
    <ion-item-group reorder="true" (ionItemReorder)="reorderPlayers($event)">
      <ion-item-sliding *ngFor="let player of players">
        <ion-item (click)="renamePlayer(player)">
          {{ player }}
        </ion-item>
        <ion-item-options side="left" (ionSwipe)="deletePlayer(player)">
          <button ion-button expandable color="danger" (click)="deletePlayer(player)">
            <ion-icon name="archive"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
    <ion-item>
      <ion-input type="text" placeholder="New player.." [(ngModel)]="newPlayer" (keyup.enter)="addPlayer()"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list padding-top class="outer-content">
    <ion-list-header>
      Configuration
    </ion-list-header>
    <ion-item>
      <ion-label>Maximum cards</ion-label>
      <ion-select [(ngModel)]="settings.maxCards">
        <ion-option *ngFor="let card of cards" value="{{card}}">{{card}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cards to play</ion-label>
      <ion-select [(ngModel)]="settings.cardsToPlay" (ionChange)="updateCardsSelect()">
        <ion-option value="all">All</ion-option>
        <ion-option value="odd">Odd</ion-option>
        <ion-option value="even">Even</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="startGame()">Start Game</button>
</ion-content>
