.oh-hell__start-button {
  margin: 24px var(--padding-start) 0;
}

.outer-content ion-input[type="number"] {
  max-width: 80px;
}

.oh-hell__players {
  margin-bottom: 24px;
}

.reload-game {
  --white-space: 0;

  .toast-content {
    padding-inline: 0;
  }
}